/* table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
} */

.wrapper {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 955px;
}

.body {
  grid-area: 6 / 8 / 25 / 25;
  height: 100%;
  width: 100%;
}

.buttonsBodyRigth {
  grid-area: 6 / 27 / 25 / 25;
  display: flex;
}

/* Estilos personalizados para el botón de carga de archivos */
.custom-file-upload {
  display: inline-block;
  width: 100px;
  height: 20px;
  text-align: center;
  background-color: #4caf50;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload input[type="file"] {
  display: none;
}
