<p>Fecha: {{ date | date }}</p>

<dx-toolbar>
    <dxi-item [location]="'before'">
      <div class="left-content">
        Salida Turno Día
      </div>
    </dxi-item>
    <dxi-item [location]="'center'">
      <div class="center-content">
        <input type="text" placeholder="Ingrese código" (keypress)="onKeyPress($event)">
      </div>
    </dxi-item>
    <dxi-item [location]="'after'">
      <div class="right-content">
        Entrada Turno Noche
      </div>
    </dxi-item>
  </dx-toolbar>
  
  <div class="next-line">
    <div class="detalle-item">
      <strong>Código ingresado:</strong>
      <span>{{ codigoIngresado }}</span>
    </div>

  </div>



  <div *ngIf="empleado">

    <p>Nombre completo: {{ empleado.nombreCompleto }}</p>
    <p>Turno: {{ empleado.turno }}</p>
    <p>Hora de entrada: {{ empleado.entryTime }}</p>
    <p>Hora de salida: {{ empleado.exitTime }}</p>
  </div>
 
  <div *ngIf="!empleado && empleadoEncontrado">
    <p>Empleado no encontrado.</p>
  </div>
  